{% extends 'base.html' %}


{% block content %}
  <div class="header">
  <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>    
  </div>

  <div class="main-content">
    <h1>Welcome to Cloche</h1>
    <p></p>
    <button>Order Now</button>  
    <div class="fab-container">
      <div class="fab fab-icon-holder" onclick="GetMenu()">
          <i class="fas"> Menu </i>
      </div>
      <div data-ptag="" id="" class="d-flex  align-items-center border-bottom p-3 " style="background-color: #FFFFFF;">
        <div class="font-weight-bold">
          <div class="">
          <p class="small text-muted m-0 mb-0">In @Model.Rows[row]["SubCatName"]- RS. @Model.Rows[row]["Price"]</p>
          <p class="small text-muted m-0 mb-2"> @Model.Rows[row]["ProdDesc"]</p>
        </div>
      </div>
      <div style="width:80px;margin-left: auto; margin-right:0px">        
        <img src="" loading="lazy" style="width:80px;height:80px; object-fit: cover;" class="img-fluid rounded">        
        <div class=" text-success ml-auto align-items-end counter-display counter-plus" style="font-size:15px; margin-right:10%; width:80px;font-weight:200;padding:2px 12.5px">         
              <div class="qty-btn-grp" id="">
                  <div class="Qty-btn pr-0 pt-0 counter-plus" onclick="" style="width:80px; text-align:center">Add</div>
              </div>          
      </div>
  </div>
  </div>  
  </div>
  <div id="cart-btn" class="fixed-bottom bg-success text-white text-center border-top rounded mb-4" style="display:none;">
    <div id="btnOrder" class="mt-0 pt-3 pb-3" style="width:95%; margin-left:2.5%">
        <div id="btnPlaceOrder" onclick="GoToCart();" class="bg-success d-flex align-items-center text-white rounded">
            <h6 id="btn-cart-data" class="m-0">Go To Cart</h6><div class="ml-auto mr-0 h6 mb-0" id="cart-amt"></div>
        </div>
    </div>
</div>
  <div class="footer">
   
  </div>
 
  {% endblock %}