{% extends 'base.html' %}
{% block content %}
<div class="ticket">
    <span style="margin-left: 40%;">Tax Receipt</span><br />
    <img src="~/Content/img/Logo.jpeg" alt="Logo" style="height: 100px; width: 100px; margin-left: 75px;">
    
    <p class="centered"><span><b>{{ System.Configuration.ConfigurationManager.AppSettings["Company"] }}</b></span><br /></p>
      
        <span id="BillNo">{{ session["orderID"] }}</span>
        <span style="margin-left: 90px;" id="BillDate">{{ Total.Rows[0]["CreatedDate"] }}</span>
        <br>
        <span>{{ Orders.Rows[0]["DName"] }}...{{ Orders.Rows[0]["DMobile"] }}</span>
        
        {# <span style="display: none;" id="CustomerMobile"></span><span style="display: none;" id="CustomerName"></span> #}
    
    <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in cart.iterrows() %}
        <tr>
          <td>{{ value.itemName }}</td>
          <td>{{ value.qty|int }}</td>
          <td>{{ value.amount }}</td>
          <td>{{ value.qty|float * value.amount|float }}</td>
        </tr>
      {% endfor %}
           

{% endblock %}
  